{% extends 'base.html.twig' %}

{% block navigation %}
    <div class="panel-heading pull-right" xmlns="http://www.w3.org/1999/html">
        <a class="glyphicon glyphicon-list" href="{{ path('ticket')}}"></a>
    </div>
{% endblock %}

{% block title_page %}Create ticket{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashBag.get('notice') %}
        <div class="alert alert-success alert-dismissible" id="myAlertNotice">
            <a href="#" class="close">&times;</a>
            <strong>{{ flashMessage }}</strong>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashBag.get('danger') %}
        <div class="alert alert-danger alert-dismissible" id="myAlertDanger">
            <a href="#" class="close">&times;</a>
            <strong>{{ flashMessage }}</strong>
        </div>
    {% endfor %}
    {{ form_start(form, {'method': 'POST', 'action': path('ticket_new')}) }}
        <div class="col-sm-4">
            <label>Title:<span class="text-danger required">*</span></label>
            {{ form_widget(form.title, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="col-sm-4">
                <label>Assignee:<span class="text-danger required">*</span></label>
                <select class="form-control" id="assignee" name="assignee">
                    {% for as in assignee %}
                        {% if as.email == assignee_default %}
                            <option id="{{ as.id }}" selected="selected">{{as.name}}</option>
                        {% else %}
                            <option id="{{ as.id }}" >{{as.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        <div class="col-sm-4">
            <label>Status:<span class="text-danger required">*</span></label>
            <select class="form-control" id="status" name="status">
                {% for st in status %}
                    {% if st.id == status_default %}
                        <option id="{{ st.id }}" selected="selected">{{st.name}}</option>
                    {% else %}
                        <option id="{{ st.id }}" >{{st.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-12">
            <label>Body:<span class="text-danger required">*</span></label>
            {{ form_widget(form.body, {'attr':{'class':'form-control'}})}}
        </div>
        <div class="form-control-static pull-right" style="padding:20px 15px 0 0">
            <input type="submit" value="Accept" class="btn btn-default">
            <input type="button" id="cancel" value="Cancel" class="btn btn-default">
        </div>
        <input type="hidden" name="assignee_id" id="assignee_id">
        <input type="hidden" name="status_id" id="status_id">
    {{ form_end(form) }}
    <script>
        $(document).ready(function(){
            $("#assignee_id").val($("#assignee").find('option:selected').attr('id'));
            $("#status_id").val($("#status").find('option:selected').attr('id'));
            $(".close").click(function(){
                $(".alert").alert("close");
            });
            $("#cancel").click(function(){
                BootstrapDialog.show({
                    title: 'Confirm',
                    message: 'Are you sure want cancel?',
                    buttons: [{
                        label: 'Accept',
                        action: function(dialog) {
                            $('body').load(Routing.generate('ticket'));
                        }
                    }, {
                        label: 'Cancel',
                        action: function(dialog) {
                            dialog.close();
                        }
                    }]
                });
            });
            $("#assignee").change(function(){
                $("#assignee_id").val($("#assignee").find('option:selected').attr('id'));
            })
            $("#status").change(function(){
                $("#status_id").val($("#status").find('option:selected').attr('id'));
            })
        });
    </script>
{% endblock %}



