<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script type="text/javascript" src= {{ asset('node_modules/jquery/dist/jquery.min.js') }}></script>
        <script type="text/javascript" src= {{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}></script>
        {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
        {#<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>#}

        <link rel="stylesheet" type="text/css" href= {{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }} />
        <link rel="stylesheet" type="text/css" href= {{ asset('node_modules/bootstrap/dist/css/bootstrap-theme.min.css') }} />
        <link rel="stylesheet" type="text/css" href= {{ asset('bundles/Ticket/template.css') }} />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="panel panel-default" style="width: 400px; height: 370px; margin: 100px auto; border: 1px solid #337AB7;">

            <strong><div class="panel" style="height: 15%; background-color: #337AB7;">
                <span class="panel-heading pull-left" style="font-size: medium; color: white">Sign In</span>
            </div></strong>
            {% for flashMessage in app.session.flashBag.get('danger') %}
                <div class="alert alert-danger alert-dismissible" id="myAlertDanger">
                    <a href="#" class="close">&times;</a>
                    <strong>{{ flashMessage }}</strong>
                </div>
            {% endfor %}
            <div class="panel-body">

                {{ form_start(form, {'method': 'POST', 'action': path('login')}) }}
                <div class="ContentForm">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" name="email" placeholder="Email" id="email" aria-describedby="sizing-addon1" required>
                        </div>
                        <br><br>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" name="password" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>
                        </div>
                        <br>
                        <button class="btn btn-sm btn-primary pull-right" type="submit">Login</button>
                    </div>
                    <br><br><br>
                    <strong><div style="border-top: 1px solid#888; padding-top:15px; font-size:100%" >
                        Don't have an account!
                        <a href="{{ path('user_new') }}">Sign Up Here</a>
                    </div></strong>
                {{ form_end(form) }}
            </div>
        </div>
































    {#<div class="login">#}
        {#{% for flashMessage in app.session.flashBag.get('danger') %}#}
            {#<div class="alert alert-danger alert-dismissible" id="myAlertDanger">#}
                {#<a href="#" class="close">&times;</a>#}
                {#<strong>{{ flashMessage }}</strong>#}
            {#</div>#}
        {#{% endfor %}#}


        {#<div class="panel-info">#}
            {#<div class="panel-title">Sign In</div>#}
            {#<div style="float:right; font-size: 80%; position: relative; top:-10px"></div>#}
        {#</div>#}


        {#<div class="login-body">#}
            {#{{ form_start(form, {'method': 'POST', 'action': path('login')}) }}#}
                {#<div class="ContentForm">#}
                    {#<div class="input-group input-group-sm">#}
                        {#<span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>#}
                        {#<input type="email" class="form-control" name="email" placeholder="Email" id="email" aria-describedby="sizing-addon1" required>#}
                    {#</div>#}
                    {#<br>#}
                    {#<div class="input-group input-group-sm">#}
                        {#<span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>#}
                        {#<input type="password" name="password" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>#}
                    {#</div>#}
                    {#<br>#}
                    {#<button class="btn btn-sm btn-primary pull-right" type="submit">Login</button>#}
                {#</div>#}
                {#<br><br><br>#}
                {#<div style="border-top: 1px solid#888; padding-top:15px; font-size:100%" >#}
                    {#Don't have an account!#}
                    {#<a href="{{ path('user_new') }}">Sign Up Here</a>#}
                {#</div>#}
            {#{{ form_end(form) }}#}
        {#</div>#}
    {#</div>#}
















        {#<div id="Contenedor">#}
            {#{% for flashMessage in app.session.flashBag.get('danger') %}#}
                {#<div class="alert alert-danger alert-dismissible" id="myAlertDanger">#}
                    {#<a href="#" class="close">&times;</a>#}
                    {#<strong>{{ flashMessage }}</strong>#}
                {#</div>#}
            {#{% endfor %}#}
            {#<div class="Icon">#}
                {#<h5>Welcome to</h5>#}
                {#<h3>Ticket Management System</h3>#}
                {#<span class="glyphicon glyphicon-user"></span>#}
            {#</div>#}
            {#{{ form_start(form, {'method': 'POST', 'action': path('login')}) }}#}
                {#<div class="ContentForm">#}
                    {#<div class="input-group input-group-sm">#}
                        {#<span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>#}
                        {#<input type="email" class="form-control" name="email" placeholder="Email" id="email" aria-describedby="sizing-addon1" required>#}
                    {#</div>#}
                    {#<br>#}
                    {#<div class="input-group input-group-sm">#}
                        {#<span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>#}
                        {#<input type="password" name="password" class="form-control" placeholder="******" aria-describedby="sizing-addon1" required>#}
                    {#</div>#}
                    {#<br>#}
                    {#<button class="btn btn-lg btn-primary btn-block btn-signin" id="login" type="submit">Login</button>#}
                {#</div>#}
            {#{{ form_end(form) }}#}
            {#{% for flashMessage in app.session.flashBag.get('danger') %}#}
                {#<div class="alert alert-danger alert-dismissible" id="myAlertDanger">#}
                    {#<a href="#" class="close">&times;</a>#}
                    {#<strong>{{ flashMessage }}</strong>#}
                {#</div>#}
            {#{% endfor %}#}
            {#</br>#}
            {#<div class="text-center">#}
                {#<a href="{{ path('user_new') }}"><strong>Register user</strong></a>#}
            {#</div>#}
        {#</div>#}
        <script>
            $(document).ready(function(){
                $(".close").click(function(){
                    $(".alert").alert("close");
                });
            });
        </script>
            {#function login(){#}
                {#var email = $("#email").val();#}
                {#var pass = $("#password").val();#}
                {#$.ajax({#}
                    {#type: "POST",#}
                    {#url: Routing.generate('login', {email: email, password: pass})#}
                {#}).done(function() {#}
                    {#alert( "Datos grabados");})#}
            {#}#}
    </body>
</html>